@model IEnumerable<Ejercicio03.Models.Cancione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover table-sm" id="datatableCheating">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Titulo"]">@Html.DisplayNameFor(model => model.Titulo)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Duracion"]">@Html.DisplayNameFor(model => model.Duracion)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Single)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Single"]">@Html.DisplayNameFor(model => model.Single)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Albumes)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Albumes"]">@Html.DisplayNameFor(model => model.Albumes)</a> *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Single)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Albumes.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
