@model Ejercicio03.Models.Albume

@{
    ViewData["Title"] = "Details";
}

<h3 class="titulo">Detalles del álbum</h3>
<div>
    <hr />
    <dl class="">
        <dt class = "">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Generos)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Generos.Nombre)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Grupos)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Grupos.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
