@model IEnumerable<Ejercicio03.Models.Albume>

@{
    ViewData["Title"] = "Index";
}

<h3 class="titulo">Álbumes</h3>

<p class="creacion">
    <a class="creacion-link" asp-action="Create">Crear registro</a>
</p>
<table class="tabla" id="datatableCheating">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Nombre"]">@Html.DisplayNameFor(model => model.Nombre)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Fecha"]">@Html.DisplayNameFor(model => model.Fecha)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Generos)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Generos"]">@Html.DisplayNameFor(model => model.Generos)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupos)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Grupos"]">@Html.DisplayNameFor(model => model.Grupos)</a> *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Generos.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupos.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
