@model IEnumerable<Ejercicio03.Models.Representante>

@{
    ViewData["Title"] = "Index";
}


<h3 class="titulo">Representantes</h3>

<p class="creacion">
    <a class="creacion-link" asp-action="Create">Crear registro</a>
</p>
<table class="tabla" id="datatableCheating">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCompleto)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["NombreCompleto"]">@Html.DisplayNameFor(model => model.NombreCompleto)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["FechaNacimiento"]">@Html.DisplayNameFor(model => model.FechaNacimiento)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Identificacion"]">@Html.DisplayNameFor(model => model.Identificacion)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Mail"]">@Html.DisplayNameFor(model => model.Mail)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Telefono"]">@Html.DisplayNameFor(model => model.Telefono)</a> *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ciudades)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Ciudades"]">@Html.DisplayNameFor(model => model.Ciudades)</a> *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ciudades.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
