@model IEnumerable<Ejercicio03.Models.Role>

@{
    ViewData["Title"] = "Index";
}


<h3 class="titulo">Roles</h3>

<p class="creacion">
    <a class="creacion-link" asp-action="Create">Crear registro</a>
</p>
<table class="tabla" id="datatableCheating">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
                @* <a asp-action="Index"
                   asp-route-sortOrder="@ViewData["Descripcion"]">@Html.DisplayNameFor(model => model.Descripcion)</a> *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="tbody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
